.backgroundHome{
    background-image: url('../../assets/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background-color: rgba(9, 9, 9, 0.2);
	background-blend-mode: soft-light;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.sloganHome{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: center;
    margin: 0 50px 0 50px;
    font-size: 50px;
}

.reasonsToTravel{
    min-height: calc(100vh);
    width: 100%;
    padding: 0 15%;
    overflow-x: hidden;
}

.boxToRight{
    float: left;
    margin: 70px 0;
    clear: both;
}

.boxToLeft{
    float: right;
    margin: 70px 0;
    clear: both;
}

@media (max-width: 900px) {
    .boxToRight{
        float: none;
        display: flex;
        justify-content: center;
    }
    
    .boxToLeft{
        float: none;
        display: flex;
        justify-content: center;
    }
}

.box{
    background-color: black;
    width: 300px;
    height: 450px;
}

.planeIcon{
    position: absolute;
    top: 100vh;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.planeIconActive{
    position: absolute;
    top: 250vh;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: all 4s ease-in-out;
    z-index: 2;
}

.planeImage{
    width: 80px;
}