:root {
  --shadow-color: 213deg 93% 25%;
  --shadow-elevation-medium: 0px 0.8px 0.8px hsl(var(--shadow-color) / 0.52),
    0px 2.4px 2.5px -1px hsl(var(--shadow-color) / 0.48),
    -0.1px 6.6px 6.9px -2px hsl(var(--shadow-color) / 0.44),
    -0.1px 16.7px 17.5px -3px hsl(var(--shadow-color) / 0.39);
}

.backgroundHome {
  background-image: url("../../assets/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(9, 9, 9, 0.2);
  background-blend-mode: soft-light;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

.sloganHome {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  color: var(--primary-color);
  text-align: center;
  margin: 0 50px 0 50px;
  font-size: 50px;
}

.planeIcon {
  position: absolute;
  top: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: all 1s ease;
}

.planeIconActive {
  position: absolute;
  top: 253vh;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  transition: all 4s ease-in-out;
  z-index: 2;
}

.planeImage {
  width: 80px;
}

.mainPage {
  background-color: var(--secondary-color);
  padding: 56px 0;
}

.whyChooseUs {
  height: 100%;
  overflow-x: hidden;
  margin: 0 200px;
}

.whyChooseUs::after {
  content: "";
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--secondary-color);
  height: 8%;
}

.whyChooseUs h2 {
  font-family: var(--title-font);
  color: var(--primary-color);
}

.boxCenter {
  clear: both;
}

.boxToRight {
  float: left;
}

.boxToLeft {
  float: right;
}

.box {
  width: 350px;
  height: 250px;
  margin: 40px 0;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
  background-color: var(--primary-color);
}

.aboutUs {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 46px;
  display: flex;
  margin: 56px 120px 0;
}

.infoAboutUs {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageAboutUs {
  width: 40%;
  margin-left: 22px;
}

.infoAboutUs h2 {
  font-family: var(--title-font);
}

.infoAboutUs h3 {
  font-family: var(--subtitle-font);
  font-size: 20px;
  margin: 18px 0 32px 0;
}

.infoAboutUs p {
  font-family: var(--text-font);
  font-size: 16px;
}

.paragraph0 {
  margin: 15px 0 56px 0;
}

.paragraph {
  margin: 5px 0;
}

.moreInfoButton {
  margin-top: 28px;
  padding: 12px 24px;
  background: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  width: 120px;
}

.moreInfoButton:hover {
  background: var(--tertiary-color);
}

.image1 {
  width: 310px;
  height: 250px;
  background-image: url("../../assets/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  clear: both;
  margin-bottom: 5px;
}

.image2 {
  width: 250px;
  height: 230px;
  background-image: url("../../assets/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  float: left;
  clear: both;
}

.travels{
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 46px;
  margin: 56px 120px 0;
}

.travelsTitle{
font-family: var(--title-font);
text-align: center;
}

.travelCards{
  margin-top: 62px;
  display: flex;
  justify-content: space-evenly;
}

.card1{
  width: 240px;
  height: 360px;
  background-image: url(../../assets/Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .8s ease;
  border-radius: 5px;
}

.card1 h2{
  font-family: var(--subtitle-font);
  color: var(--primary-color);
height: 100%;
width: 100%;
display: flex;
}

.card1:hover{
  transform: scale(105%);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light;
  transition: all .5s ease;
}

.card2{
  width: 240px;
  height: 360px;
  background-image: url(../../assets/Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .8s ease;
  border-radius: 5px;
}

.card2 h2{
  font-family: var(--subtitle-font);
  color: var(--primary-color);
}

.card2:hover{
  transform: scale(105%);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light;
  transition: all .5s ease;
}

.card3{
  width: 240px;
  height: 360px;
  background-image: url(../../assets/Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .8s ease;
  border-radius: 5px;
}

.card3 h2{
  font-family: var(--subtitle-font);
  color: var(--primary-color);
}

.card3:hover{
  transform: scale(105%);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light;
  transition: all .5s ease;
}

.card4{
  width: 240px;
  height: 360px;
  background-image: url(../../assets/Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .8s ease;
  border-radius: 5px;
}

.card4 h2{
  font-family: var(--subtitle-font);
  color: var(--primary-color);
}

.card4:hover{
  transform: scale(105%);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light;
  transition: all .5s ease;
}

@media (max-width: 1200px) {
  .boxToRight {
    float: none;
    display: flex;
    justify-content: center;
  }
  .boxToLeft {
    float: none;
    display: flex;
    justify-content: center;
  }
  .aboutUs {
    display: flex;
    flex-direction: column;
    gap: 20%;
  }
  .infoAboutUs {
    width: 100%;
  }
  .imageAboutUs {
    display: none;
  }
  .moreInfoButton{
    align-self: center;
  }
}